<!DOCTYPE html>
<html>
<head>
  <title>Main Dashboard</title>
</head>
<body>
  <h1>Welcome to the Main Dashboard</h1>
  <button onclick="location.href='/SignUp'">Sign Up</button>
  <button onclick="location.href='/SignIn'">Sign In</button>
</body>
</html>
